<div class="container">
  <div class="row">
    <h1 class="col-sm mt-5">
      Login Page
    </h1>
  </div>
  <div class="row">
    <div class="col-sm mt-5">
      <form (submit)="submit()" [formGroup]="loginForm">
        <input formControlName="userName" type="text" class="form-control" placeholder="User Name"/>
        <input formControlName="password" type="password" class="form-control mt-2" placeholder="Password"/>
        <input type="submit" value="Login" class="btn btn-primary mt-2"/>
      </form>
    </div>
  </div>
  <mat-progress-bar *ngIf="displayLoading" class="mt-5" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="displayError" class="alert alert-danger mt-5">
    Invalid Login
  </div>
</div>
