<app-home></app-home>
<div class="Page">
  <div class="Card" *ngIf="viewingConsumer">
    <div class="Title">Viewing consumer information</div>
    <div class="ConsumerField">
      <label>Email: </label>
      <p>{{viewingConsumer.email }}</p>
    </div>
    <div class="ConsumerField">
      <label>Created At: </label>
      <p>{{viewingConsumer.createdAt.toLocaleString() }}</p>
    </div>
    <div class="ConsumerField">
      <label>Name: </label>
      <p>{{viewingConsumer.userName }}</p>
    </div>
    <div class="ConsumerField">
      <label>Phone #: </label>
      <p>{{viewingConsumer.phoneNumber }}</p>
    </div>  
    <div class="ConsumerField">
      <label>Id #: </label>
      <p>{{viewingConsumer.id }}</p>
    </div>
  </div>
  <div class="Card SearchConsumerCard">
    <div class="Title">Search for a consumer to view</div>
    <input class="InputField" [(ngModel)]="toSearchConsumerEmail" 
                          placeHolder="Consumer Email"/>
    <button (click)="searchConsumer()" class="Button">Search</button>
  </div>
</div>
